// Colors

$clr-white: #fff;
$clr-black: #000;
$clr-grey: #bdc3c7;
$clr-back: #2c3e50;
$clr-back-lt: #34495e;
$clr-back-dk: darken($clr-back, 5%);
$clr-link: #27ae60;
$clr-link-dk: darken($clr-link, 20%);
$clr-link-hover: lighten($clr-link, 5%);
$clr-purple: #8e44ad;
$clr-blue: #2980b9;


// Type

$sans-serif: 'Helvetica', 'Arial', 'sans-serif';