extends layout

block body
  .wrapper(ng-controller='AppCtrl')
    .row.headerbar.padded
      .sixcol.first
        a.logo.clr-white.h3(href="/") SoccerRater
      .sixcol
        p.align-right {{ game.match.teams[0].abbr }} {{ game.match.score[0] }} --- {{ gameClock }} --- {{ game.match.score[1] }} {{ game.match.teams[1].abbr }}
    .row.align-center
      button.button-green.margined(ng-click="start()") Start Game
      button.button-green.margined(ng-click="stop()") Reset Game      

    div(ng-view)