!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    meta(name="viewport",content="width=500px, initial-scale=1")
    base(href='/')
    title Angular Socket.io Seed App
    link(rel='stylesheet', href='/css/app.css')
  body
    block body

    include footer